body {
    background-color: #252525;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    background-color: #252525;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}
.input-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
#audioFile {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
#lyricsInput {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    resize: vertical;
}
#doneButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #003e77;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
#doneButton:hover {
    background-color: #002f55;
}
.lyrics-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
}
.lyric-line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #00776d;
    cursor: pointer;
}
.lyric-line-container:hover {
    background-color: #005f57;
}
.lyric-line {
    color: white;
    font-size: 16px;
}
.lyric-time {
    color: #cceeff;
    font-size: 12px;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.controls button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #003e77;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.controls button:hover {
    background-color: #002f55;
}